.about {
    min-height: 3500px;
    background: #181715;
    padding-top: 50px;
    padding-bottom: 50px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 73px;
    }
    &__item {
        &_descr {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
            width: 608px;
        }
        &_button {
            margin-top: 43px;
        }
    }
}