.catalog {
    &__title {
        padding-top: 205px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 67px;
    }
    &__item {
        width: 16.6%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
        &:nth-child(7) {
            margin-top: 70px;
        }
        &:nth-child(8) {
            margin-top: 70px;
        }
        &:nth-child(9) {
            margin-top: 70px;
        }
        &:nth-child(10) {
            margin-top: 70px;
        }
        &:nth-child(11) {
            margin-top: 70px;
        }
        &:nth-child(12) {
            margin-top: 70px;
        }
    }
}